This is the beginning of the notebook.

##ADM4142-A Fundamentals of Data science <br>
The goal of this notebook is to retrieve and stage the source datasets into the format used in the dimensional model for analysis.

This notebook generates the Economy_dimension of the weather/tourism/economy data frame.

Code below gets the data from the datasets/urls cand puts them in the database, just need to update the urls before using it or else you might get an error cuz the urls will expire. Only missing mean tempurature

Iterate over URLs and create the database.

In [1]:
import pandas as pd

In [2]:
# Load the date dimension with a focus on the entries for the 1st day of each month between 1990 and 2023
date_url = 'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/dimension/date.csv'
date_df = pd.read_csv(date_url)
# Ensure we're focusing on entries from 1990-2023 and the 1st day of each month
date_df_filtered = date_df[(date_df['year'].between(1990, 2023)) & (date_df['day'] == 1)]

In [3]:
# List of URLs for weather data
urls = [
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_banff_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_calgary_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_edmonton_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_montreal_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_ottawa_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_quebec_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_toronto_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_vancouver_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_victoria_normal_monthly.csv',
    'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/data/weatherstats_whistler_normal_monthly.csv',
    # Add more URLs here as needed
]

In [4]:
# Initialize an empty DataFrame to store concatenated results
result_df = pd.DataFrame()

# Iterate through each URL to process and transform the data
for url in urls:
    # Load dataset
    df = pd.read_csv(url)

    # Extract location from the filename in URL
    city = url.split('/')[-1].split('_')[1]

    # Convert 'date' column to datetime format to extract year and month
    df['date'] = pd.to_datetime(df['date'])

    # Filter data for years 1990 to 2023
    df = df[df['date'].dt.year.between(1990, 2023)]

    # Calculate average temperature
    df['avg_temperature_v'] = (df['max_temperature_v'] + df['min_temperature_v']) / 2

    # Fill missing values
    #df.fillna(df.mean(), inplace=True)

    # Add 'location' column
    df['location'] = city

    # Join with the date dimension on year and month for the 1st day of each month
    df = df.merge(date_df_filtered, left_on=[df['date'].dt.year, df['date'].dt.month], right_on=['year', 'month'], how='left')

    # Keep only the required columns and rename them accordingly
    df = df[['Date_key', 'date', 'max_temperature_v', 'min_temperature_v', 'avg_temperature_v', 'precipitation_v', 'snow_v', 'location']]

    # Append the processed DataFrame to the result
    result_df = pd.concat([result_df, df], ignore_index=True)


# Add a placeholder for 'Location_key' (to be filled later)
result_df['Location_key'] = ''

# Sorting by location and date (oldest to newest)
result_df.sort_values(by=['location', 'Date_key'], inplace=True)

# Reset weather key to start from beginning
result_df.reset_index(drop=True, inplace=True)
# Add a 'Weather_key' as an enumeration from 1
#result_df['Weather_key'] = result_df.index + 1
result_df.insert(0, 'Weather_key', range(1, 1 + len(result_df)))

# Final column order adjustment
final_columns = ['Weather_key', 'Location_key', 'Date_key', 'date', 'max_temperature_v', 'min_temperature_v', 'avg_temperature_v', 'precipitation_v', 'snow_v', 'location']
result_df = result_df[final_columns]

In [5]:
result_df.head()

,Weather_key,Location_key,Date_key,date,max_temperature_v,min_temperature_v,avg_temperature_v,precipitation_v,snow_v,location
0,1,,1,1990-01-01,-5.37,-15.01,-10.19,30.40,NaN,banff
1,2,,32,1990-02-01,0.10,-11.32,-5.61,23.65,NaN,banff
2,3,,60,1990-03-01,3.72,-8.04,-2.16,21.54,NaN,banff
3,4,,91,1990-04-01,8.89,-2.83,3.03,33.26,NaN,banff
4,5,,121,1990-05-01,14.15,1.45,7.80,54.50,NaN,banff

Populate the Location_key column with the corresponding province associated to the city in 'location'.

In [6]:
# Load the location dimension if not already loaded
location_url = 'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/dimension/location.csv'
location_df = pd.read_csv(location_url)

# Load the date dimension if not already loaded
date_url = 'https://raw.githubusercontent.com/noobstang/cscsi4142-project-datasets/master/dimension/date.csv'
date_df = pd.read_csv(date_url)

# Filter date_df for entries that correspond to January 1st of each year to simplify the join
date_df_filtered = date_df[date_df['day'] == 1]

In [7]:
# Mapping from city to province
city_to_province = {
    "banff": "Alberta",
    "calgary": "Alberta",
    "edmonton": "Alberta",
    "montreal": "Quebec",
    "quebec": "Quebec",
    "ottawa": "Ontario",
    "toronto": "Ontario",
    "vancouver": "British Columbia",
    "victoria": "British Columbia",
    "whistler": "British Columbia"
}

# Replace city names in weather_df with their corresponding province names
result_df['location_province'] = result_df['location'].map(city_to_province)

In [8]:
result_df.head()

,Weather_key,Location_key,Date_key,date,max_temperature_v,min_temperature_v,avg_temperature_v,precipitation_v,snow_v,location,location_province
0,1,,1,1990-01-01,-5.37,-15.01,-10.19,30.40,NaN,banff,Alberta
1,2,,32,1990-02-01,0.10,-11.32,-5.61,23.65,NaN,banff,Alberta
2,3,,60,1990-03-01,3.72,-8.04,-2.16,21.54,NaN,banff,Alberta
3,4,,91,1990-04-01,8.89,-2.83,3.03,33.26,NaN,banff,Alberta
4,5,,121,1990-05-01,14.15,1.45,7.80,54.50,NaN,banff,Alberta

In [9]:
date_df_filtered.head(50)

      Date_key    date_iso date_yearmonth  year  month  day day_of_week
0            1  1990-01-01        1990-01  1990      1    1      Monday
31          32  1990-02-01        1990-02  1990      2    1    Thursday
59          60  1990-03-01        1990-03  1990      3    1    Thursday
90          91  1990-04-01        1990-04  1990      4    1      Sunday
120        121  1990-05-01        1990-05  1990      5    1     Tuesday
151        152  1990-06-01        1990-06  1990      6    1      Friday
181        182  1990-07-01        1990-07  1990      7    1      Sunday
212        213  1990-08-01        1990-08  1990      8    1   Wednesday
243        244  1990-09-01        1990-09  1990      9    1    Saturday
273        274  1990-10-01        1990-10  1990     10    1      Monday
304        305  1990-11-01        1990-11  1990     11    1    Thursday
334        335  1990-12-01        1990-12  1990     12    1    Saturday
365        366  1991-01-01        1991-01  1991      1    1     Tuesday
396        397  1991-02-01        1991-02  1991      2    1      Friday
424        425  1991-03-01        1991-03  1991      3    1      Friday
455        456  1991-04-01        1991-04  1991      4    1      Monday
485        486  1991-05-01        1991-05  1991      5    1   Wednesday
516        517  1991-06-01        1991-06  1991      6    1    Saturday
546        547  1991-07-01        1991-07  1991      7    1      Monday
577        578  1991-08-01        1991-08  1991      8    1    Thursday
608        609  1991-09-01        1991-09  1991      9    1      Sunday
638        639  1991-10-01        1991-10  1991     10    1     Tuesday
669        670  1991-11-01        1991-11  1991     11    1      Friday
699        700  1991-12-01        1991-12  1991     12    1      Sunday
730        731  1992-01-01        1992-01  1992      1    1   Wednesday
761        762  1992-02-01        1992-02  1992      2    1    Saturday
790        791  1992-03-01        1992-03  1992      3    1      Sunday
821        822  1992-04-01        1992-04  1992      4    1   Wednesday
851        852  1992-05-01        1992-05  1992      5    1      Friday
882        883  1992-06-01        1992-06  1992      6    1      Monday
912        913  1992-07-01        1992-07  1992      7    1   Wednesday
943        944  1992-08-01        1992-08  1992      8    1    Saturday
974        975  1992-09-01        1992-09  1992      9    1     Tuesday
1004      1005  1992-10-01        1992-10  1992     10    1    Thursday
1035      1036  1992-11-01        1992-11  1992     11    1      Sunday
1065      1066  1992-12-01        1992-12  1992     12    1     Tuesday
1096      1097  1993-01-01        1993-01  1993      1    1      Friday
1127      1128  1993-02-01        1993-02  1993      2    1      Monday
1155      1156  1993-03-01        1993-03  1993      3    1      Monday
1186      1187  1993-04-01        1993-04  1993      4    1    Thursday
1216      1217  1993-05-01        1993-05  1993      5    1    Saturday
1247      1248  1993-06-01        1993-06  1993      6    1     Tuesday
1277      1278  1993-07-01        1993-07  1993      7    1    Thursday
1308      1309  1993-08-01        1993-08  1993      8    1      Sunday
1339      1340  1993-09-01        1993-09  1993      9    1   Wednesday
1369      1370  1993-10-01        1993-10  1993     10    1      Friday
1400      1401  1993-11-01        1993-11  1993     11    1      Monday
1430      1431  1993-12-01        1993-12  1993     12    1   Wednesday
1461      1462  1994-01-01        1994-01  1994      1    1    Saturday
1492      1493  1994-02-01        1994-02  1994      2    1     Tuesday

In [10]:
location_df.head()

   Location_key  Date_key location  population
0             1         1   Canada  27691138.0
1             2       366   Canada  28037420.0
2             3       731   Canada  28371264.0
3             4      1097   Canada  28684764.0
4             5      1462   Canada  29000663.0

In [11]:
# Before joining, ensure that 'location' in location_df refers to the province. If not, you may need to adjust location_df accordingly.

# Make a copy of the filtered DataFrame to avoid SettingWithCopyWarning
date_df_filtered = date_df_filtered.copy()

# Convert 'date_iso' column to datetime and extract the year, correctly using a copy to avoid the warning
#date_df_filtered['year'] = pd.to_datetime(date_df_filtered['date_iso']).dt.year

# Extract the year for each Date_key in date_df for the join
#date_df_filtered['year'] = pd.to_datetime(date_df_filtered['date_iso']).dt.year
date_df_filtered['date_iso'] = pd.to_datetime(date_df_filtered['date_iso'])

#result_df['date'] = pd.to_datetime(result_df['date'])
result_df['year'] = pd.to_datetime(result_df['date']).dt.year

In [12]:
# add year column to location
#location_df[year] =
location_df = location_df.copy()

#location_df = location_df.merge(date_df_filtered[['year']], left_on=['Date_key'], right_on=['Date_key'], how='left')

# Merge the DataFrames using the "Date_key" attribute
location_merged_df = pd.merge(location_df, date_df[['Date_key', 'year']], on='Date_key', how='left')

location_merged_df.head()

   Location_key  Date_key location  population  year
0             1         1   Canada  27691138.0  1990
1             2       366   Canada  28037420.0  1991
2             3       731   Canada  28371264.0  1992
3             4      1097   Canada  28684764.0  1993
4             5      1462   Canada  29000663.0  1994

In [13]:
# Convert 'year' columns to pandas datetime format
#result_df['year'] = pd.to_datetime(result_df['year'], format='%Y')
#location_merged_df['year'] = pd.to_datetime(location_merged_df['year'], format='%Y')

result_df.head()
#location_merged_df.head()

,Weather_key,Location_key,Date_key,date,max_temperature_v,min_temperature_v,avg_temperature_v,precipitation_v,snow_v,location,location_province,year
0,1,,1,1990-01-01,-5.37,-15.01,-10.19,30.40,NaN,banff,Alberta,1990
1,2,,32,1990-02-01,0.10,-11.32,-5.61,23.65,NaN,banff,Alberta,1990
2,3,,60,1990-03-01,3.72,-8.04,-2.16,21.54,NaN,banff,Alberta,1990
3,4,,91,1990-04-01,8.89,-2.83,3.03,33.26,NaN,banff,Alberta,1990
4,5,,121,1990-05-01,14.15,1.45,7.80,54.50,NaN,banff,Alberta,1990

In [14]:
# Merge the DataFrames using the specified attributes
merged_temp_df = pd.merge(result_df, location_merged_df, left_on=['location_province', 'year'], right_on=['location', 'year'], how='left')


# Perform the join with location_df to get the Location_key, matching based on 'location' and 'year'
#location_merged_df['year'] = pd.to_datetime(location_merged_df['year'])

#result_df_merge = pd.merge(result_df, location_merged_df[['Location_key']], left_on=['location_province', 'year'], right_on=['location', 'year'], how='left')




# Perform the join with date_df to maintain the Date_key for each month
#result_df = result_df.merge(date_df_filtered[['Date_key', 'date_iso', 'year']], left_on=['date', 'year'], right_on=['date_iso', 'year'], how='left')

# Join weather data with date_df_filtered to get a simplified 'Date_key' that corresponds to January 1st of each year
#result_df = result_df.merge(date_df_filtered[['year', 'Date_key']], on='year', how='left')

# Join on 'location' to get the 'Location_key', using 'Date_key' as an additional join condition if necessary
# This assumes that 'location' in location_df is already set to provinces and is compatible with our mapping
#result_df = result_df.merge(location_df[['Location_key', 'location', 'Date_key']], left_on=['location_province', 'Date_key'], right_on=['location', 'Date_key'], how='left')
merged_temp_df.head()

,Weather_key,Location_key_x,Date_key_x,date,max_temperature_v,min_temperature_v,avg_temperature_v,precipitation_v,snow_v,location_x,location_province,year,Location_key_y,Date_key_y,location_y,population
0,1,,1,1990-01-01,-5.37,-15.01,-10.19,30.40,NaN,banff,Alberta,1990,69,1,Alberta,2547788.0
1,2,,32,1990-02-01,0.10,-11.32,-5.61,23.65,NaN,banff,Alberta,1990,69,1,Alberta,2547788.0
2,3,,60,1990-03-01,3.72,-8.04,-2.16,21.54,NaN,banff,Alberta,1990,69,1,Alberta,2547788.0
3,4,,91,1990-04-01,8.89,-2.83,3.03,33.26,NaN,banff,Alberta,1990,69,1,Alberta,2547788.0
4,5,,121,1990-05-01,14.15,1.45,7.80,54.50,NaN,banff,Alberta,1990,69,1,Alberta,2547788.0

In [15]:
# Overwrite the values of the 'Location_key' column in result_df
result_df['Location_key'] = merged_temp_df['Location_key_y']


result_df.head()

,Weather_key,Location_key,Date_key,date,max_temperature_v,min_temperature_v,avg_temperature_v,precipitation_v,snow_v,location,location_province,year
0,1,69,1,1990-01-01,-5.37,-15.01,-10.19,30.40,NaN,banff,Alberta,1990
1,2,69,32,1990-02-01,0.10,-11.32,-5.61,23.65,NaN,banff,Alberta,1990
2,3,69,60,1990-03-01,3.72,-8.04,-2.16,21.54,NaN,banff,Alberta,1990
3,4,69,91,1990-04-01,8.89,-2.83,3.03,33.26,NaN,banff,Alberta,1990
4,5,69,121,1990-05-01,14.15,1.45,7.80,54.50,NaN,banff,Alberta,1990

In [16]:
# Select and rename the columns as per the final requirement
final_weather_df = result_df[['Weather_key', 'Location_key', 'Date_key', 'max_temperature_v', 'min_temperature_v', 'avg_temperature_v', 'precipitation_v', 'snow_v', 'location']].copy()

# Export the final DataFrame
#final_weather_df.to_csv('weather_final.csv', index=False)

Test results

In [17]:
final_weather_df.head(30)

,Weather_key,Location_key,Date_key,max_temperature_v,min_temperature_v,avg_temperature_v,precipitation_v,snow_v,location
0,1,69,1,-5.37,-15.01,-10.190,30.40,NaN,banff
1,2,69,32,0.10,-11.32,-5.610,23.65,NaN,banff
2,3,69,60,3.72,-8.04,-2.160,21.54,NaN,banff
3,4,69,91,8.89,-2.83,3.030,33.26,NaN,banff
4,5,69,121,14.15,1.45,7.800,54.50,NaN,banff
5,6,69,152,18.72,5.38,12.050,58.17,NaN,banff
6,7,69,182,22.26,7.38,14.820,49.10,NaN,banff
7,8,69,213,21.46,6.73,14.095,51.66,NaN,banff
8,9,69,244,15.93,2.61,9.270,44.78,NaN,banff
9,10,69,274,10.24,-0.97,4.635,28.52,NaN,banff
10,11,69,305,0.52,-8.25,-3.865,28.85,NaN,banff
11,12,69,335,-5.06,-13.56,-9.310,34.09,NaN,banff
12,13,70,366,-5.29,-14.87,-10.080,31.01,NaN,banff
13,14,70,397,0.12,-11.31,-5.595,23.85,NaN,banff
14,15,70,425,3.82,-7.94,-2.060,21.51,NaN,banff
15,16,70,456,8.95,-2.80,3.075,32.39,NaN,banff
16,17,70,486,14.18,1.48,7.830,57.47,NaN,banff
17,18,70,517,18.74,5.40,12.070,60.02,NaN,banff
18,19,70,547,22.15,7.39,14.770,51.16,NaN,banff
19,20,70,578,21.58,6.77,14.175,51.32,NaN,banff
20,21,70,609,16.11,2.65,9.380,43.80,NaN,banff
21,22,70,639,10.13,-1.07,4.530,30.34,NaN,banff
22,23,70,670,0.52,-8.20,-3.840,30.45,NaN,banff
23,24,70,700,-5.29,-13.76,-9.525,34.64,NaN,banff
24,25,71,731,-5.47,-15.01,-10.240,30.22,NaN,banff
25,26,71,762,0.26,-11.13,-5.435,21.49,NaN,banff
26,27,71,791,3.76,-8.04,-2.140,22.09,NaN,banff
27,28,71,822,9.06,-2.75,3.155,32.05,NaN,banff
28,29,71,852,14.14,1.47,7.805,57.89,NaN,banff
29,30,71,883,18.51,5.33,11.920,62.36,NaN,banff

In [18]:
# Assuming df is your DataFrame
filtered_df = location_merged_df[location_merged_df['Location_key'] >= 60]

# Get the first 10 entries
first_10_entries = filtered_df.head(50)

# Display the first 10 entries
print(first_10_entries)

     Location_key  Date_key          location  population  year
59             60      9132  British Columbia   4765472.0  2015
60             61      9497  British Columbia   4861269.0  2016
61             62      9863  British Columbia   4934202.0  2017
62             63     10228  British Columbia   5020979.0  2018
63             64     10593  British Columbia   5111022.0  2019
64             65     10958  British Columbia   5176101.0  2020
65             66     11324  British Columbia   5226665.0  2021
66             67     11689  British Columbia   5356284.0  2022
67             68     12054  British Columbia   5519013.0  2023
68             69         1           Alberta   2547788.0  1990
69             70       366           Alberta   2592306.0  1991
70             71       731           Alberta   2632672.0  1992
71             72      1097           Alberta   2667292.0  1993
72             73      1462           Alberta   2700606.0  1994
73             74      1827           Alberta   2734519.0  1995
74             75      2192           Alberta   2775133.0  1996
75             76      2558           Alberta   2829848.0  1997
76             77      2923           Alberta   2899066.0  1998
77             78      3288           Alberta   2952692.0  1999
78             79      3653           Alberta   3004198.0  2000
79             80      4019           Alberta   3058554.0  2001
80             81      4384           Alberta   3128757.0  2002
81             82      4749           Alberta   3183291.0  2003
82             83      5114           Alberta   3238817.0  2004
83             84      5480           Alberta   3321839.0  2005
84             85      5845           Alberta   3421435.0  2006
85             86      6210           Alberta   3514151.0  2007
86             87      6575           Alberta   3595875.0  2008
87             88      6941           Alberta   3679010.0  2009
88             89      7306           Alberta   3732104.0  2010
89             90      7671           Alberta   3787705.0  2011
90             91      8036           Alberta   3871947.0  2012
91             92      8402           Alberta   3978532.0  2013
92             93      8767           Alberta   4081271.0  2014
93             94      9132           Alberta   4150147.0  2015
94             95      9497           Alberta   4195427.0  2016
95             96      9863           Alberta   4237310.0  2017
96             97     10228           Alberta   4292556.0  2018
97             98     10593           Alberta   4355377.0  2019
98             99     10958           Alberta   4407495.0  2020
99            100     11324           Alberta   4431531.0  2021
100           101     11689           Alberta   4510891.0  2022
101           102     12054           Alberta   4695290.0  2023
102           103         1           Ontario  10295832.0  1990
103           104       366           Ontario  10431316.0  1991
104           105       731           Ontario  10572205.0  1992
105           106      1097           Ontario  10690038.0  1993
106           107      1462           Ontario  10819146.0  1994
107           108      1827           Ontario  10950119.0  1995
108           109      2192           Ontario  11082903.0  1996

Testing

In [19]:
# Export the final DataFrame
#final_weather_df.to_csv('weather_final.csv', index=False)